code[class*="language-"],
pre[class*="language-"] {
	color: #9CDCFE;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #322B3D;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #608B4E;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.namespace,
.token.deleted {
	color: #4EC9B0;
}

.token.attr-name {
	color: #9CDCFE;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.keywordBlue {
	color: #569CD6;
}
.token.number {
	color: #B5CEA8;
}
.token.function {
	color: #DCDCAA;
}

.token.property,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.class-name,
.token.builtin {
	color: #4EC9B0;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword {
	color: #C586C0;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #CE9169;
}

.token.operator {
	color: #D4D4D4;
}
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}
