aliases:
  - &restore-yarn-cache
    keys:
      - v2-yarn-{{ .Branch }}-{{ checksum "yarn.lock" }}
      # Fallback in case checksum fails
      - v2-yarn-{{ .Branch }}-

  - &save-yarn-cache
    paths:
      - node_modules
      - ~/.cache/yarn
    key: v2-yarn-{{ .Branch }}-{{ checksum "yarn.lock" }}

  - &filter-only-master
    branches:
      only:
        - master

  - &filter-ignore-gh-pages
    branches:
      ignore: gh-pages

  - &yarn
    |
      yarn install --non-interactive --cache-folder ~/.cache/yarn --frozen-lockfile

  - &lint
    working_directory: ~/neo-one
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache
      - run: *yarn
      - save-cache: *save-yarn-cache
      - run:
          name: Prettier
          command: yarn nit
          when: always
      - run:
          name: Typescript
          command: yarn tsc
          when: always
      - run:
          name: Lint
          command: yarn lint
          when: always
      - run:
          name: Build
          command: yarn build
          when: always

  - &test
    working_directory: ~/neo-one
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache
      - run: *yarn
      - save-cache: *save-yarn-cache
      - run:
          name: Test
          command: yarn test-ci $(circleci tests glob "packages/*/src/__tests__/**/*.test.ts" | circleci tests split --split-by=timings) --coverage
      - run:
          name: Upload Unit Test Coverage
          command: yarn run codecov -f coverage/coverage-final.json -F unit
          when: always
      - store_test_results:
          path: reports
    parallelism: 2

  - &build-e2e
    working_directory: ~/neo-one
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache
      - run: *yarn
      - save-cache: *save-yarn-cache
      - run:
          name: Build
          command: yarn build:e2e
      - persist_to_workspace:
          root: ~/neo-one
          paths:
            - dist
            - node_modules

  - &e2e
    working_directory: ~/neo-one
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: E2E
          command: yarn nyc --reporter json yarn e2e-ci $(circleci tests glob "packages/*/src/__e2e__/**/*.test.ts" | circleci tests split --split-by=timings)
      - run:
          name: Upload E2E Test Coverage
          command: yarn run codecov -f coverage/coverage-final.json -F e2e
          when: always
      - store_test_results:
          path: reports
    parallelism: 2

node10: &node10
  docker:
    - image: neotracker/neo-one-circleci-node:10.9.0-0

version: 2
jobs:
  test10:
    <<: *node10
    <<: *test
  e2e10:
    <<: *node10
    <<: *e2e
  build-e2e10:
    <<: *node10
    <<: *build-e2e

  lint:
    <<: *node10
    <<: *lint

  deploy-website:
    <<: *node10
    working_directory: ~/neo-one/website
    steps:
      - checkout:
          path: ~/neo-one
      - restore-cache: *restore-yarn-cache
      - run: *yarn
      - save-cache: *save-yarn-cache
      - run:
          name: Install Dependencies
          command: sudo apt install rsync
      - run:
          name: Deploy Website
          command: |
            git config --global user.email "dicarlo2@users.noreply.github.com"
            git config --global user.name "Alex DiCarlo"
            echo "machine github.com login dicarlo2 password $GITHUB_TOKEN" > ~/.netrc
            echo "Deploying website..."
            GIT_USER=dicarlo2 yarn run publish-gh-pages

workflows:
  version: 2
  website:
    jobs:
      - deploy-website:
          filters: *filter-only-master
  test10:
    jobs:
      - build-e2e10:
          filters: *filter-ignore-gh-pages
      - test10:
          filters: *filter-ignore-gh-pages
      - lint:
          filters: *filter-ignore-gh-pages
      - e2e10:
          requires:
            - build-e2e10
          filters: *filter-ignore-gh-pages
