aliases:
  - &restore-yarn-cache-8
    keys:
      - v5-yarn-8-{{ .Branch }}-{{ checksum "yarn.lock" }}
      # Fallback in case checksum fails
      - v5-yarn-8-{{ .Branch }}-

  - &save-yarn-cache-8
    paths:
      - node_modules
      - ~/.cache/yarn
    key: v5-yarn-8-{{ .Branch }}-{{ checksum "yarn.lock" }}

  - &restore-yarn-cache-10
    keys:
      - v5-yarn-10-{{ .Branch }}-{{ checksum "yarn.lock" }}
      # Fallback in case checksum fails
      - v5-yarn-10-{{ .Branch }}-

  - &save-yarn-cache-10
    paths:
      - node_modules
      - ~/.cache/yarn
    key: v5-yarn-10-{{ .Branch }}-{{ checksum "yarn.lock" }}

  - &restore-yarn-cache-12
    keys:
      - v5-yarn-12-{{ .Branch }}-{{ checksum "yarn.lock" }}
      # Fallback in case checksum fails
      - v5-yarn-12-{{ .Branch }}-

  - &save-yarn-cache-12
    paths:
      - node_modules
      - ~/.cache/yarn
    key: v5-yarn-12-{{ .Branch }}-{{ checksum "yarn.lock" }}

  - &filter-ignore-bors-tmp
    branches:
      ignore:
        - staging.tmp
        - trying.tmp

  - &yarn |
    yarn install --non-interactive --cache-folder ~/.cache/yarn --ignore-engines

  - &lint
    working_directory: ~/neo-one
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache-12
      - run: *yarn
      - save-cache: *save-yarn-cache-12
      - run:
          name: Prettier
          command: yarn nit
          when: always
      - run:
          name: Typescript
          command: yarn tsc
          when: always
      - run:
          name: Lint
          command: yarn lint
          when: always

  - &build-e2e8
    working_directory: ~/neo-one
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache-8
      - run: *yarn
      - save-cache: *save-yarn-cache-8
      - run:
          name: Build
          command: yarn build:e2e
      - persist_to_workspace:
          root: ~/neo-one
          paths:
            - dist
            - node_modules

  - &test8
    working_directory: ~/neo-one
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache-8
      - run: *yarn
      - save-cache: *save-yarn-cache-8
      - run:
          name: Test
          command: yarn test-ci-8 $(circleci tests glob "packages/*/src/__tests__/**/*.test.ts" | circleci tests split --split-by=timings)
      - store_test_results:
          path: reports
    parallelism: 2

  - &e2e8
    working_directory: ~/neo-one
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: E2E
          command: yarn e2e-ci-8 $(circleci tests glob "packages/*/src/__e2e__/**/*.test.ts" | circleci tests split --split-by=timings)
      - store_test_results:
          path: reports
    parallelism: 2

  - &build-e2e10
    working_directory: ~/neo-one
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache-10
      - run: *yarn
      - save-cache: *save-yarn-cache-10
      - run:
          name: Build
          command: yarn build:e2e
      - persist_to_workspace:
          root: ~/neo-one
          paths:
            - dist
            - node_modules

  - &test10
    working_directory: ~/neo-one
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache-10
      - run: *yarn
      - save-cache: *save-yarn-cache-10
      - run:
          name: Test
          command: yarn test-ci $(circleci tests glob "packages/*/src/__tests__/**/*.test.ts" | circleci tests split --split-by=timings) --coverage
      - run:
          name: Upload Unit Test Coverage
          command: yarn run codecov -f coverage/coverage-final.json -F unit
          when: always
      - store_test_results:
          path: reports
    parallelism: 2

  - &e2e10
    working_directory: ~/neo-one
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: E2E
          command: yarn nyc --reporter json yarn e2e-ci $(circleci tests glob "packages/*/src/__e2e__/**/*.test.ts" | circleci tests split --split-by=timings)
      - run:
          name: Upload E2E Test Coverage
          command: yarn run codecov -f coverage/coverage-final.json -F e2e
          when: always
      - store_test_results:
          path: reports
    parallelism: 2

  - &build-e2e12
    working_directory: ~/neo-one
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache-12
      - run: *yarn
      - save-cache: *save-yarn-cache-12
      - run:
          name: Build
          command: yarn build:e2e
      - persist_to_workspace:
          root: ~/neo-one
          paths:
            - dist
            - node_modules

  - &test12
    working_directory: ~/neo-one
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache-12
      - run: *yarn
      - save-cache: *save-yarn-cache-12
      - run:
          name: Test
          command: yarn test-ci $(circleci tests glob "packages/*/src/__tests__/**/*.test.ts" | circleci tests split --split-by=timings) --coverage
      - run:
          name: Upload Unit Test Coverage
          command: yarn run codecov -f coverage/coverage-final.json -F unit
          when: always
      - store_test_results:
          path: reports
    parallelism: 2

  - &e2e12
    working_directory: ~/neo-one
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: E2E
          command: yarn nyc --reporter json yarn e2e-ci $(circleci tests glob "packages/*/src/__e2e__/**/*.test.ts" | circleci tests split --split-by=timings)
      - run:
          name: Upload E2E Test Coverage
          command: yarn run codecov -f coverage/coverage-final.json -F e2e
          when: always
      - store_test_results:
          path: reports
    parallelism: 2

  - &playground12
    working_directory: ~/neo-one
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache-12
      - run: *yarn
      - save-cache: *save-yarn-cache-12
      - attach_workspace:
          at: ./
      - run:
          name: Clone NEO-ONE Playground
          command: git clone https://github.com/neo-one-suite/neo-one-playground.git
      - run:
          name: Yarn Build NEO-ONE
          command: yarn build:e2e
      - run:
          name: Yarn Install NEO-ONE Playground
          command: cd neo-one-playground && yarn install
      - run:
          name: Replace NEO-ONE Packages with Dist
          command: yarn playground:replace-packages
      - run:
          name: Add .nyc_output Directory
          command: mkdir .nyc_output
      - run:
          name: Test Website
          command: cd neo-one-playground && yarn test:cypress --coverage
      - run:
          name: Coverage Report
          command: yarn nyc report --reporter=json
          when: always
      - run:
          name: Upload Unit Test Coverage
          command: yarn run codecov -f coverage/coverage-final.json -F cypress
          when: always
      - run:
          name: Test Smart Contracts
          command: yarn test
      - store_artifacts:
          path: cypress/screenshots

  - &cypress10
    working_directory: ~/neo-one
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache-10
      - run: *yarn
      - save-cache: *save-yarn-cache-10
      - run:
          name: Add .nyc_output Directory
          command: mkdir .nyc_output
      - run:
          name: Tests
          command: yarn test:cypress --coverage
      - run:
          name: Coverage Report
          command: yarn nyc report --reporter=json
          when: always
      - run:
          name: Upload Unit Test Coverage
          command: yarn run codecov -f coverage/coverage-final.json -F cypress
          when: always
      - store_artifacts:
          path: cypress/videos
      - store_artifacts:
          path: cypress/screenshots

node8: &node8
  docker:
    - image: neotracker/neo-one-circleci-node:8.16.0-4

node10: &node10
  docker:
    - image: neotracker/neo-one-circleci-node:10.16.0-1

node12: &node12
  docker:
    - image: neotracker/neo-one-circleci-node:12.4.0-1

chrome: &chrome69
  docker:
    - image: cypress/browsers:chrome69

version: 2
jobs:
  test8:
    <<: *node8
    <<: *test8
  e2e8:
    <<: *node8
    <<: *e2e8
  build-e2e8:
    <<: *node8
    <<: *build-e2e8

  test10:
    <<: *node10
    <<: *test10
  e2e10:
    <<: *node10
    <<: *e2e10
  build-e2e10:
    <<: *node10
    <<: *build-e2e10

  test12:
    <<: *node12
    <<: *test12
  e2e12:
    <<: *node12
    <<: *e2e12
  build-e2e12:
    <<: *node12
    <<: *build-e2e12

  lint:
    <<: *node12
    <<: *lint
  playground12:
    <<: *chrome69
    <<: *playground12
  cypress10:
    <<: *node10
    <<: *cypress10

workflows:
  version: 2
  # test8:
  #   jobs:
  #     - build-e2e8:
  #         filters: *filter-ignore-bors-tmp
  #     - test8:
  #         filters: *filter-ignore-bors-tmp
  #     - e2e8:
  #         requires:
  #           - build-e2e8
  #         filters: *filter-ignore-bors-tmp
  # test10:
  #   jobs:
  #     - build-e2e10:
  #         filters: *filter-ignore-bors-tmp
  #     - test10:
  #         filters: *filter-ignore-bors-tmp
  #     - e2e10:
  #         requires:
  #           - build-e2e10
  #         filters: *filter-ignore-bors-tmp
  #     - lint:
  #         filters: *filter-ignore-bors-tmp
  # test12:
  #   jobs:
  #     - build-e2e12:
  #         filters: *filter-ignore-bors-tmp
  #     - test12:
  #         filters: *filter-ignore-bors-tmp
  #     - e2e12:
  #         requires:
  #           - build-e2e12
  #         filters: *filter-ignore-bors-tmp
  #     - lint:
  #         filters: *filter-ignore-bors-tmp
  # test-website:
  #   jobs:
  #     - cypress10
  # test-playground:
  #   jobs:
  #     - playground12
