@media only screen and (min-width: 736px) {
  .navPusher {
    padding-top: 80px;
  }
}

div.wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

.colContainer {
  display: flex;
}

div.col {
  text-align: left;
  width: 50%;
}

div.col-1 {
  flex: 1 1 12.5%;
  max-width: 12.5%;
  text-align: left;
}

div.col-2 {
  flex: 1 1 25%;
  max-width: 25%;
  text-align: left;
}

div.col-3 {
  flex: 1 1 37.5%;
  max-width: 37.5%;
  text-align: left;
}

div.col-4 {
  flex: 1 1 50%;
  max-width: 50%;
  text-align: left;
}

div.col-5 {
  flex: 1 1 62.5%;
  max-width: 62.5%;
  text-align: left;
}

div.col-6 {
  flex: 1 1 75%;
  max-width: 75%;
  text-align: left;
}

div.col-7 {
  flex: 1 1 87.5%;
  max-width: 87.5%;
  text-align: left;
}

.paddingTopHalf {
  padding-top: 4px;
}

.paddingTop1 {
  padding-top: 8px;
}

.paddingTop2 {
  padding-top: 16px;
}

.paddingTop3 {
  padding-top: 24px;
}

.paddingTop4 {
  padding-top: 32px;
}

.paddingTop5 {
  padding-top: 40px;
}

.paddingTop6 {
  padding-top: 48px;
}

.paddingBottom1 {
  padding-bottom: 8px;
}

.paddingBottom2 {
  padding-bottom: 16px;
}

.paddingBottom6 {
  padding-bottom: 48px;
}

.paddingRight2 {
  padding-right: 16px;
}

.paddingRight4 {
  padding-right: 32px;
}

.primaryLight {
  color: $primaryLight;
}

.primaryDark {
  color: $primaryDark;
}

.primaryLightBG {
  background-color: $primaryLight;
}

.gray0 {
  color: $gray0;
}

.gray0BG {
  background-color: $gray0;
}

.gray05 {
  color: $grayHalf;
}

.gray05BG {
  background-color: $grayHalf;
}

.gray1 {
  color: $gray1;
}

.gray1BG {
  background-color: $gray1;
}

.gray2 {
  color: $gray2;
}

.gray2BG {
  background-color: $gray2;
}

.gray3 {
  color: $gray3;
}

.gray3BG {
  background-color: $gray3;
}

.gray4 {
  color: $gray4;
}

.gray5 {
  color: $gray5;
}

.gray5BG {
  background-color: $gray5;
}

.gray6 {
  color: $gray6;
}

.gray6BG {
  background-color: $gray6;
}

.blackBG {
  background-color: $black;
}

.accent {
  color: $accent;
}

.spaceBetween {
  justify-content: space-between;
}

.section {
  padding-bottom: 16px;
  padding-top: 16px;
}

.sectionTop {
  padding-top: 16px;
}

.sectionBottom {
  padding-bottom: 16px;
}

.horizontalTitle {
  display: flex;
  flex-wrap: wrap;
}

.horizontalTitleLeft {
  text-align: left;
  flex: 1 1 100%;
  max-width: 100%;
}

.horizontalTitleRight {
  text-align: left;
  flex: 1 1 100%;
  max-width: 100%;
  padding-top: 16px;
}

@media only screen and (min-width: 736px) {
  .section {
    padding-bottom: 48px;
    padding-top: 48px;
  }

  .sectionTop {
    padding-top: 48px;
  }

  .sectionBottom {
    padding-bottom: 48px;
  }

  .horizontalTitleLeft {
    flex: 1 1 37.5%;
    max-width: 37.5%;
  }

  .horizontalTitleRight {
    flex: 1 1 62.5%;
    max-width: 62.5%;
    padding-top: 0px;
  }
}

body, .mainContainer {
  color: $gray0;
  background-color: $gray5;
}

.navPusher {
  display: flex;
  flex-direction: column;
}

.footerContainer {
  flex: 1;
}

h1 a {
  color: $primaryColor;
}

a {
  color: $accent;
}
