/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/* First line docs css */

body > div.navPusher > div > div.container.mainContainer > div > div.post > article > div > span > p:nth-child(1) {
  color: $gray2;
  font-size: 24px;
}

/* First line docs css end */

.installCallout {
  display: inline-block;
  text-align: left;
}

.installCallout > div {
  display: inline-block;
}

.installCallout pre code {
  margin: 0;
}
