div.featureNumber {
  padding-right: 8px;
  width: 62px;
}

div.featureTitle {
  align-items: flex-start;
  display: flex;
  font-size: 32px;
  text-align: left;
  flex-direction: column;
  justify-content: flex-end;
  width: 168px;
}

div.featureTitleText {
  padding-top: 8px;
}

.featuresCallOut {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.feature {
  width: 240px;
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}

.featWrapper {
  display: flex;
  flex: 1 1 240px;
  justify-content: center;
  min-width: 26%;
}

.featureImage {
  display: flex;
  justify-content: center;
}

.featureWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featureContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calloutButton {
  display: flex;
  justify-content: center;
}

.install {
  display: inline-block;
  width: 256px;
}

.install code {
  margin-bottom: 0px;
  margin-top: 0px;
}

@media only screen and (min-width: 736px) {
  .feature {
    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .calloutButton {
    display: flex;
    justify-content: flex-start;
  }
}

.installCode pre code {
  border-left-color: $accent;
}

/* @media only screen and (min-width: 1600px) { */
  /* .featWrapper {
    flex: 1 1 33%;
    max-width: 33%;
  }
} */
