name: Push DockerHub Node
on:
  push:
    branches:
      - master
    tags:
      - \@neo-one/node-bin*
jobs:
  push:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@a14471d838f6a7ce15cab8740f25e337c51e7cad
      - uses: ./actions/dockerhub/
        with:
          args: -f ./scripts/DockerfileNode .
        env:
          DOCKER_NAMESPACE: neoonesuite
          DOCKER_IMAGE_NAME: node
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
